body {
  background-color: #f6f5f5;
  padding: 0px;
  margin: 0px;
}

.arrow {
  animation: a9 0.5s infinite linear alternate;
  opacity: 0.9;
}

@keyframes a9 {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}

.skills-icon {
  width: auto;
  max-height: 50%;
  margin-top: 0.8rem;
}

.projects-image {
  width: 90%;
}

.box-module {
  border: 1px solid #f6f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #f6f5f5;
}

